src/n8n/workflows/pay-notifications/bamboo_change_pay_rate_enhanced.json
{
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "WEBHOOK_ID_01_PLACEHOLDER",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -432,
          592
        ],
        "id": "WEBHOOK_ID_02_PLACEHOLDER",
        "name": "Webhook",
        "webhookId": "WEBHOOK_ID_01_PLACEHOLDER"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "WEBHOOK_ID_03_PLACEHOLDER",
                "leftValue": "={{ $json.body.employees[0].changedFields }}",
                "rightValue": "Compensation - Pay Rate",
                "operator": {
                  "type": "array",
                  "operation": "contains",
                  "rightType": "any"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -192,
          592
        ],
        "id": "WEBHOOK_ID_04_PLACEHOLDER",
        "name": "Check If Pay Rate Changed"
      },
      {
        "parameters": {
          "url": "=https://YOUR_COMPANY.bamboohr.com{{ $json.body.employees[0].id }}/tables/compensation",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "options": {}
        },
        "id": "WEBHOOK_ID_05_PLACEHOLDER",
        "name": "Get Compensation History",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          16,
          480
        ],
        "credentials": {
          "httpBasicAuth": {
            "id": "CREDENTIAL_ID_06_PLACEHOLDER",
            "name": "BambooHR Basic Auth"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Access webhook data directly from the Webhook node\nconst webhookData = $('Webhook').first().json;\n\n// Extract employee data from webhook\nconst employee = webhookData.body.employees[0];\n\n// Extract employee information\nconst employeeId = employee.id;\nconst employeeName = employee.fields['First name Last name'];\nconst effectiveDate = employee.fields['Compensation - Effective Date'];\nconst changeReason = employee.fields['Compensation - Change Reason'] || 'Не вказано';\nconst department = employee.fields['Job Information - Department'] || '';\nconst jobTitle = employee.fields['Job Information - Job Title'] || '';\n\n// Create employee profile link\nconst employeeLink = `https://YOUR_COMPANY.bamboohr.com?id=${employeeId}`;\n\n// Simple message - just who and when\nconst messageText = `🔔 Зміна заробітної плати\\n` +\n  `У *${employeeName}* змінилася заробітна плата\\n` +\n  `<${employeeLink}|Переглянути профіль працівника>`;\n\n// Create Slack blocks\nconst slackBlocks = [\n  {\n    type: \"section\",\n    text: {\n      type: \"mrkdwn\",\n      text: messageText\n    }\n  },\n  {\n    type: \"context\",\n    elements: [\n      {\n        type: \"mrkdwn\",\n        text: `📅 *Дата:* ${effectiveDate}`\n      }\n    ]\n  }\n];\n\n// Optionally add job title if you want to keep it\nif (jobTitle) {\n  slackBlocks[1].elements.push({\n    type: \"mrkdwn\",\n    text: `💼 *Посада:* ${jobTitle}`\n  });\n}\n\n// Return single output\nreturn {\n  text: messageText.replace(/\\*/g, ''),\n  blocks: slackBlocks\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          208,
          480
        ],
        "id": "WEBHOOK_ID_06_PLACEHOLDER",
        "name": "Format Slack Message",
        "executeOnce": true
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C06K20PG800",
            "mode": "list",
            "cachedResultName": "hr_legal_finance"
          },
          "text": "={{ $json.text }}",
          "otherOptions": {}
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          416,
          480
        ],
        "id": "WEBHOOK_ID_07_PLACEHOLDER",
        "name": "Send Slack Notification",
        "webhookId": "WEBHOOK_ID_08_PLACEHOLDER",
        "credentials": {
          "slackApi": {
            "id": "CREDENTIAL_ID_04_PLACEHOLDER",
            "name": "Vira Bot"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Check If Pay Rate Changed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check If Pay Rate Changed": {
        "main": [
          [
            {
              "node": "Get Compensation History",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Compensation History": {
        "main": [
          [
            {
              "node": "Format Slack Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Slack Message": {
        "main": [
          [
            {
              "node": "Send Slack Notification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "NOTION_DATABASE_ID_03_PLACEHOLDERNOTION_DATABASE_ID_04_PLACEHOLDER"
    }
  }